/**
 * BASE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
html {
  height: 100%;
  margin: 0;
  font-size: 20px; }

body {
  background: #F0F0F0;
  color: #000;
  font-family: Times, serif;
  margin: 0;
  padding: 0; }

h1 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 3.25em;
  font-weight: normal;
  margin: 1em 0;
  text-align: center; }

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none; }

code {
  background: #111;
  color: #fff;
  display: block;
  font-family: Courier, monospace;
  font-size: .7em;
  line-height: 1.5em;
  padding: 10px; }

p code,
li code {
  background: transparent;
  color: #000;
  display: inline;
  font-size: .85em;
  line-height: 1em;
  padding: 0; }

a code {
  color: #900; }

blockquote {
  color: #777; }

p {
  font-weight: 100;
  line-height: 1.7em;
  margin: 1em 0; }

a {
  color: #303030; }

a:hover,
a:focus {
  background: #ff6;
  color: #000; }

@media screen and (max-width: 750px) {
  /* This is used in JavaScript. */
  body:after {
    content: 'small';
    display: none; }

  h1 {
    font-size: 35px;
    font-weight: bold; } }

/**
 * LAYOUT
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#main {
  margin: 0 auto;
  max-width: 600px;
  min-height: 400px;
  position:relative;
  padding: 0 25px 70px; }

@charset "UTF-8";
/**
 * "MENU"
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.menu {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  left: 0;
  position: fixed;
  top: 35px; }

.menu li {
	list-style-type: none;
	display: block;
	background-color: red;
	padding: 7px 10px;
	margin: 5px 0;
	border-radius: 0 5px 5px 0;
}

.menu i {
  color: #F0F0F0;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu li:hover {
	background-color:#7f8c8d;
}

.menu a {
  text-decoration: none;
  }

.menu a,
.menu a:hover {
  background: transparent;
  color: #F0F0F0;
  }

li.home {
	background-color: #2c3e50;
}

li.here {
	background-color: #16a085;
}

li.me {
	background-color: #2980b9;
}

/**
 * POSTS LIST
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.posts,
.posts ul {
  list-style: none;
  padding-left: 0; }

.posts li {
  line-height: 1.2em;
  margin-bottom: 10px; }

.posts time:after {
  content: "»";
  margin: 0 10px; }

/**
 * INDEX
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.twitter-follow {
  text-align: center; }

.button {
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1 0 #EEE;
  width: 150px; }

.button:hover {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd; }

.button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

input#search {
  	width: 100%;
  	font-size: 30px;
  	margin: 0.5em 0;
  	background: #5E5E5E;
  	border: 0px solid #000000;
  	box-shadow: 0 0 8px rgba(0, 0, 0, 1) inset;
  	border-radius: 7px;
  	color: #CCCCCC;
  	padding: 12px;
}

span.search {
	position: relative;
}

.search span {
	position: absolute;
	top: 0;
	right: 10px;
	color: #CECECE;
}
/**
 * NOTICE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.notice {
  margin-top: 75px; }

.notice + .post {
  margin-top: 50px; }

/**
 * POST
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.post {
  margin-top: 75px; }

.post h2,
.post h3 {
  margin-top: 50px; }

.post .tags {
  float: right;
  margin: 0 0 25px; }

.post .published {
  font-style: italic; }

.post .intro {
  clear: both;
  color: #888;
  margin: 50px 0; }

.post .intro:before,
.post .intro:after {
  content: '';
  display: table; }

.post .intro:after {
  clear: both; }

.post .intro .avatar {
  border-radius: 125px;
  float: left;
  margin-right: 25px;
  width: 125px; }

.post .intro p {
  margin: 0; }

.post .intro a {
  color: #555; }

.post .intro .button {
  position: relative;
  top: 15px; }

.post .next-prev ul {
  list-style: none;
  padding: 0; }

.post .next-prev ul:before,
.post .next-prev ul:after {
  content: '';
  display: table; }

.post .next-prev ul:after {
  clear: both; }

.post .next-prev li {
  max-width: 48%; }

.post .next-prev .next {
  float: right; }

/**
 * POST: ARTICLE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.post.article > div > p:first-child::first-line {
  font-size: 1.3em;
  font-variant: small-caps;
  text-transform: lowercase; }

.post.article > div > p:first-child::first-letter {
  display: block;
  float: left;
  font-size: 3em;
  font-variant: small-caps;
  line-height: 0.65em;
  padding: 0.1em 0.2em 0 0;
  text-transform: uppercase; }

.post.article ul {
	line-height: 28px;
}
/**
 * CONTACT
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.contact {
  background: #ddd;
  color: #888;
  padding: 25px 25px 15px;
  font-size: 0.7em;
  text-align: center; }

.contact ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.contact li {
  display: inline;
  margin: 0 15px; }

.contact a {
  color: #555; }

/**
 * LICENSE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.license {
  background: #ddd;
  font-size: 0.7em;
  color: #888;
  padding: 0 25px 25px;
  text-align: center; }

.license p {
  margin: 0;
  padding: 0; }

.license a {
  color: #555; }

/**
 * TAGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.tags {
  list-style: none;
  padding: 0;
  text-align: justify; }

.tags li, .cats a {
  display: inline-block;
  margin: 0 25px 25px 0; }

.tags li:last-child, .cats a:last-child {
  margin-right: 0; }

.tag, .cats a {
  background: #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  color: #888;
  padding: 2px 8px 2px 8px;
  text-decoration: none; }

.tag:visited, .cats a:visited {
  color: #888; }

.tag:hover , .cats a:hover{
  background: #ccc;
  color: #777; }

.tag a, .tag a:hover {
	text-decoration: inherit;
	color: inherit;
	background: inherit;

}

/**
 * COMMENTS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#disqus_thread {
  margin-top: 75px; }

#dsq-global-toolbar,
#dsq-like-tooltip,
#dsq-sort-by,
#dsq-pagination,
#disqus_thread h3 {
  display: none; }

#disqus_thread .dsq-reply h3 {
  display: block; }

#dsq-account-dropdown:before {
  content: '('; }

#dsq-account-dropdown:after {
  content: ')'; }

#dsq-account-dropdown a {
  margin: 0 -5px 0 -5px;
  text-transform: lowercase; }

/**
 * ANIMATIONS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
 	-webkit-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
	opacity: 0;
    height: 0px;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
 	opacity: 1;
    height: 22px;
}

.view.ng-enter, .view.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
}
