#BEGIN

[Wildcard]

; Facebook
*facebook.com*
*fbcdn.net*
*akamaihd.net*
*fb.me*

; Twitter
*twitter.com*
*twimg.com*
*t.co*

; Reddit and Stuff
*reddit.com*
*imgur.com*
*redditmedia.com*
*redditstatic.com*

; Wordpress and Blogs
*wp.com*
*wordpress.com*
*wp.me*
*blogspot.*
*feedburner.com*
*blogger.com*

; Google
*googleusercontent.com*
*plus.google.com*
*youtube.com*
*youtu.be*
*googlesyndication.com*

; Others
*soundcloud.com*
*last.fm*
*kickass.to*
*tumblr.com*
*radiofarda.com*
*jadi.net*
*pinterest.com*

; Lifehacker
*lifehacker.com*
*gawker.com*
*kinja.com*
*gawkerassets.com*

[RegExp]


#END
